body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

#header {
  color: rgb(202, 146, 255);
  font-size: 50px;
}

.landing-page {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.btn-start {
  display: inline-block;
  padding: 12px 24px;
  background-color: #6f00ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.btn-start:hover {
  background-color: #0056b3;
}

#search-container {
  margin-bottom: 20px;
}

#search-box {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#search-button {
  padding: 8px 16px;
  border: 1px solid #6f00ff;
  background-color: #6f00ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#search-button:hover {
  background-color: #0056b3;
}

.movie-slider,
.tv-slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.movie-card,
.tv-card {
  flex: 0 0 auto;
  width: 250px;
  scroll-snap-align: start;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.movie-card h1, .tv-card h1 {
  font-size: 24px; 
}



.movie-card img,
.tv-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

.info-container {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.info-container h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-container p {
  font-size: 16px;
  line-height: 1.5;
}


/* Stile per la Navbar */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 50px;
}

/* Stile per i link della Navbar */
.nav-link {
  color: #fff; /* Colore testo */
  text-decoration: none; /* Rimuove sottolineatura */
  margin-left: 20px; /* Spaziatura tra i link */
  font-weight: 500; /* Grassetto */
  transition: color 0.3s ease-in-out; /* Transizione colore al passaggio del mouse */
}

/* Stile per i link della Navbar al passaggio del mouse */
.nav-link:hover {
  color: #6f00ff; /* Cambia colore al passaggio del mouse */
}


.titolo-sezione {
  padding-top: 50px;
}